<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> welcome to car service app<%= @user.name %></h1>
    <p>Your succesfully singed up<%= @user.email%></p>
    <p>Thanks </p>
  </body>
</html>



