<%= render'/shared/dash_board' %>
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/free-vector/auto-service-illustration_1284-20618.jpg?w=740&t=st=1695626187~exp=1695626787~hmac=122ba1229412145ee9d6d0e570aa94eac7f811dd53f48c898130f6042be430e2');
    height: 80vh;
  "
></div>
