<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  your booking succesfully create <%= @booking.user.name %></h1>
    <p>  Thank you <%= @booking.user.email%></p>
  </body>
</html>
